.slider-image-rotator {
    overflow: hidden;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* Optional: Add animation for sliding */
@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

.slider {
    animation: slide 10s infinite;
}

html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
